.cardapio-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 46px 0;
}

.cardapio-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}

.items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
    width: 100%;
    height: 220px;
}

.cardapio-section-title{
    font-family: 'Playfair Display';
    font-size: 40px;
    color: var(--marrom);
}

.add-items-button{
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 100px;
    cursor: pointer;
}