*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: auto;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --laranja: #D96725;
    --branco: #F0F0F2;
    --bege: #FFFBDC;
}

body{
    width: 100vw;
    height: 100vh;
}