.categorias-section{
    margin: 46px 0;
}

.categorias-section-title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: var(--marrom);
    font-style: normal;
    margin-bottom: 31px;
    
}

.categorias-cards-wrapper{

    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 194px 194px;
    gap: 20px 100px;
}